@inject I18n I18n
@inject IUserAPI API
@inject NavigationManager Nav
@inject AuthStateProvider Auth
@inject IStatusStorage<ExceptionRequest> ExceptionRequest
@inject IPopupService Popup

@code {
    [Parameter]
    public UserProfileDto Profile { get; set; }

    private async Task LogoutAsync()
    {
        var result = await Popup.ConfirmAsync("Logout", "Are u sure?", "YES!", AlertTypes.Warning);

        if (result)
        {
            await Auth.SetTokenAsync(null);
            Nav.NavigateTo("/login", replace: true);
        }
    }
}



<MTooltip Bottom>
    <ActivatorContent>
        <h2 class="text-center" @attributes="@context.Attrs">@Profile.Username</h2>
    </ActivatorContent>
    <ChildContent>
        <span>@Profile.Id</span>
    </ChildContent>
</MTooltip>

<p class="text-center text--secondary">@Profile.Biography</p>

<div class="text-right">
    <MButton Plain Color="error" OnClick="LogoutAsync">
        @I18n.T("logout")
    </MButton>

    <MButton Plain Color="info">
        @I18n.T("edit")
    </MButton>
</div>